{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/course.css' %}" />
  <body class="container-grid">
    <header class="header">
      <div>
        <div class="header-pic">
          <img src="{% static 'images/horizon_logo.png' %}" alt="IMG" />
          {% if admin %}
            <a href="{% url 'admin:index' %}"><i class="fa header-end fa-wrench"></i></a>
          {% endif %}
        </div>
      </div>
    </header>
    {% block page %}

    {% endblock %}
  </body>
{% endblock %}
