{% extends 'course/page_board.html' %}
{% block manager %}
  <div class="sec-table-title" style="justify-content:flex-start;">
    <h3>Course ID {{ courses.ID }}</h3>
    <div class="cos-down">
      <form action="{% url 'manager' %}" method="post">
        {% csrf_token %}
        <select name="course_id" onchange="if(this.value != 0) this.form.submit()">
          <option value="0">
            <h3>{{ courses.name }}</h3>
          </option>
          {% for course in dropdown %}
            <option value="{{ course.ID }}">{{ course.name }}</option>
          {% endfor %}
        </select>
      </form>
    </div>
  </div>
  <div class="box-scroll">
    <table class="sec-table-mg">
      <tr style="padding-bottom: 2em">
        <th>Student ID</th>
        <th style="width: 20vw;">First Name</th>
        <th style="width: 20vw; text-align: left;">Email</th>
        <th></th>
      </tr>
      {% for st in enroll %}
        <tr>
          <td>{{ st.ID }}</td>
          <td>{{ st.fname }}</td>
          <td>{{ st.email }}</td>
          <td>
            <form action="{% url 'course_drop' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="course_id" value="{{ courses.ID }}" />
              <button type="submit" name="user_id" value="{{ st.ID }}" class="button-27-dp">Discard</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
