{% extends 'course/course.html' %}
{% load static %}
{% block page %}
  <nav class="navbar">
    <ul class="list">
      <li class="list-item">
        <a href="{% url 'page_user' %}"><i class="fa pos-ab user fa-user-circle-o"></i><p class="a-p">{{ username }}</p></a>
      </li>
      <li class="list-item">
        {% if admin %}
          <a href="{% url 'manager' %}" method="get">
            <i class="fa pos-ab board fa-folder"></i>
            <p class="a-p">Manager</p>
          </a>
        {% else %}
          <a href="{% url 'page_board' %}">
            <i class="fa pos-ab board fa-folder"></i>
            <p class="a-p">My Course</p>
          </a>
        {% endif %}
      </li>
      <li class="list-item">
        <a class="active" href="{% url 'page_course' %}"><i class="fa pos-ab cap fa-graduation-cap" style="color: white;"></i><p class="a-p">Course</p></a>
      </li>
      <li class="list-item">
        <a href="{% url 'logout' %}"><i class="fa pos-ab out fa-sign-out"></i><p class="a-p">Logout</p></a>
      </li>
    </ul>
  </nav>
  <section class="sec">
    {% if admin %}
    <div class="box-scroll">
      <table class="sec-table">
        <tr>
          <th><h3>Course ID</h3></th>
          <th><h3>Course Name</h3></th>
          <th><h3>Quota</h3></th>
          <th><h3>Enroll</h3></th>
        </tr>
        {% for course in courses %}
          <tr>
            <td>{{ course.ID }}</td>
            <td>{{ course.name }}</td>
            <td style="position: relative; left: 5%;">
              {{ course.quota }}</td>
            <td style="position: relative; left: 3%;">
              {{ course.enrolled }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% else %}
    <div class="box-scroll">
      <table class="sec-table">
        <tr>
          <th><h3>Course ID</h3></th>
          <th><h3>Course Name</h3></th>
          <th><h3>Quota</h3></th>
          <th><h3>Enroll</h3></th>
        </tr>
        {% for course in courses %}
          <tr>
            <td>{{ course.ID }}</td>
            <td>{{ course.name }}</td>
            <td style="position: relative; left: 5%;">
              {{ course.quota }}</td>
            <td>
              {% if course.ID in enroll %}
                <form>
                  <button type="button" class="button-27-ed">Enrolled</button>
                </form>
              {% elif not course.quota %}
                <form>
                  <button type="button" class="button-27-fu">Full</button>
                </form>
              {% else %}
                <form action="{% url 'course_enroll' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" name="course_id" value="{{ course.ID }}" class="button-27-en">Enroll</button>
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
  </section>
{% endblock %}
