@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* body */
.body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f3f8ff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.container-grid {
    display: grid;
    height: 100%;
    grid-template-areas: "header header header header header"
        "sidebar content content content content"
        "sidebar content content content content"
        "footer footer footer footer footer";
}

.header {
    display: block;
    grid-area: header;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    height: 60px;
    display: block;
    overflow: hidden;
}

.header-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.header-pic img {
    height: 70%;
}

.header-end {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    align-items: center;
    padding: 0 20px;
}

/* nav bar */
.navbar {
    display: block;
    grid-area: sidebar;
    width: 30px;
    margin-top: 20px;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 200px;
}

.list li a {
    display: block;
    border-radius: 15px;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    margin: 10px 0;
}

.list-item a.active {
    background-color: #8b181c;
    color: white;
}

.list-item a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.list-item a:hover:not(.active) .fa {
    background-color: #555;
    color: white;
}

.a-p {
    position: relative;
    left: 60px;
    margin: 0;
    font-weight: 500;
}

.sec {
    display: block;
    grid-area: content;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: block;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 40px;
    border-radius: 20px;
    height: 550px;
    width: 1100px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* form */
.form {
    display: block;
}

/* input */
.input {
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    touch-action: manipulation;
    outline: none;
    border: none;
}

.input100 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    height: 50px;
    background: #e6e6e6;
    padding: 0 30px 0 68px;
    border-radius: 25px;
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87, 184, 70, 0.8);
}

.symbol-input100 {
    font-size: 15px;
    color: #666666;
    display: block;
    position: absolute;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    margin-top: -35px;
    padding-left: 35px;
    pointer-events: none;
    transition: all 0.4s;
}

.validated-input {
    position: relative;
}

.btn {
    outline: none !important;
    border: none;
    overflow: visible;
    margin: 0;
    touch-action: manipulation;
    padding-block: 1px;
    padding-inline: 6px;
    writing-mode: horizontal-tb !important;
    cursor: default;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
}

.btn:hover {
    cursor: pointer;
    background-color: #212529;
}

[type="submit"],
[type="reset"],
button,
html [type="button"] {
    -webkit-appearance: button;
    appearance: button;
}

/* div */
.limiter {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

/* login */
.login100-pic {
    width: 316px;
}

.login100-pic img {
    max-width: 100%;
}

.login100-form {
    width: 290px;
}

.login100-form-title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #333333;
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.login100-form-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(-135deg, #8b181c, #fed04c);
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.wrap-login100 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    padding: 80px 60px 50px 50px;
}

.wrap-input100 {
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

/* font awesome */
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 25px;
    text-rendering: auto;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-c {
    font-size: 1.5rem;
    color: #000;
    margin: 0 10px;
    cursor: pointer;
}

.fa-c:hover {
    color: #fed04c;
}

.pos-ab {
    position: absolute;
}

.user {
    left: 52px;
}

.board {
    left: 52px;
}

.cap {
    left: 46px;
}

.out {
    left: 52px;
}

/* profile */
.sec-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* course */
.sec-table {
    display: flex;
    padding-left: 120px;
}

.sec-table td {
    font-weight: 500;
    text-align: left;
}

.sec-table td p {
    font-weight: 500;
    text-align: left;
    padding-bottom: 10px;
    margin: 5px;
}
.p-id {
    width: 220px;
}
.p-n {
    width: 246px;
}
.td-p {
    padding-inline: 143px;
}

.sec-table td a {
    display: block;
    font-weight: 500;
    padding-bottom: 10px;
    margin: 5px;
    width: 120px;
    text-align: center;
}

.sec-table td form {
    font-weight: 500;
    text-align: left;
    width: 100px;
}

.sec-table-title {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.sec-table-title h3 {
    text-align: center;
    width: 260px;
}

.box-scroll {
    overflow: auto;
    height: 400px;
    /* background-color: #212529; */
}

/* button */
.button-27-en {
    appearance: none;
    background-color: #57b846;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;

    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 6px;
}

.button-27-en:disabled {
    pointer-events: none;
}

.button-27-en:hover {
    transform: translateY(-2px);
}

.button-27-en:active {
    transform: translateY(0);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.button-27-ed {
    appearance: none;
    background-color: #fed04c;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;

    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 6px;
}

.button-27-ed:hover {
    transform: translateY(-2px);
}

.button-27-fu {
    appearance: none;
    background-color: salmon;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;

    /* box-shadow: rgba(0, 0, 0, 0.25) 0 4px 6px; */
}