{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body class="body">
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic" data-tilt>
            <img src="{% static 'images/logo.png' %}" alt="IMG" />
          </div>

          <form class="login100-form validate-form form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <span class="login100-form-title">Member Login</span>

            {% if messages %}
              {% for message in messages %}
                <span style="color: crimson; padding-left: 25px;">{{ message }}</span>
              {% endfor %}
            {% endif %}

            <div class="wrap-input100 validate-input" data-validate="Username is required">
              <input class="input100 input" type="text" placeholder="Username" name="username" />
              <span class="focus-input100"></span>
              <span class="symbol-input100"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Password is required">
              <input class="input100 input" type="password" placeholder="Password" name="password" />
              <span class="focus-input100"></span>
              <span class="symbol-input100"><i class="fa fa-lock" aria-hidden="true"></i></span>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn btn" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
