header {
    background-color: #f1f1f1;
    position:absolute;
    padding-block: 20px 20px;
    width: 99%;
    text-align: left;
    color: black;
}

.header {
    padding-inline: 10px 10px;
    color: #000000;
    font-size: 20px;    
    text-decoration: none;
}